/* Table of Contents
==================================================
  #Reset and Basics
	#Colors
	#Mixins
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Modal Dialogs
	#Misc */
@import url(http://fonts.googleapis.com/css?family=Smythe&v2);
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #Colors
==================================================*/
.rtext {
  color: #ff3338; }

.red {
  background: #ff3338; }

.rb {
  border: 5px solid #ff3338; }

.gtext {
  color: #00c55f; }

.green {
  background: #00c55f; }

.gb {
  border: 5px solid #00c55f; }

.ptext {
  color: #c56ddd; }

.purple {
  background: #c56ddd; }

.pb {
  border: 5px solid #c56ddd; }

/* #Mixins
==================================================*/
/* #Basic Styles
================================================== */
.alert {
  background-color: #ff3338; }

.barcon {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: -20px;
  width: 33.3%;
  height: 100px; }

body {
  background: #3399cc;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #363636;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: none; }

.bottombar {
  background: white;
  margin-top: 60px;
  border-top: 1px solid #246b8f;
  border-bottom: 1px solid #246b8f; }

.bottompic {
  float: left; }

.cleancontent {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: white;
  border: 1px solid #297aa3;
  padding: 10px;
  margin: 20px 20px 0 20px; }

.clear {
  clear: both; }

.content {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #363636;
  color: #979797; }

.forgot-password {
  margin-top: 10px;
  clear: both; }

footer {
  background: white;
  margin-left: auto;
  margin-right: auto; }

header {
  padding: 10px;
  background: white;
  text-align: right;
  height: 18px; }

#indextabs {
  position: relative;
  top: 80px; }

.leftindex {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin-left: -10px;
  background: white;
  padding: 10px;
  height: 350px; }

.logo {
  float: left;
  position: relative;
  bottom: 30px;
  left: 15px;
  margin-bottom: -60px; }

/* The canvas containing the map */
#map {
  margin-top: 15px;
  margin-left: 8px;
  height: 400px; }

.maphead {
  margin-top: 5px;
  color: white;
  margin-bottom: -10px; }

.mapinfo {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #fff;
  position: relative;
  padding: 15px;
  padding-right: 45px;
  right: 5px; }

.mapmodal {
  max-width: 800px; }

.mleft {
  padding: 15px;
  display: inline-block;
  width: 300px; }

.mright {
  padding: 15px;
  display: inline-block;
  width: 400px; }

#mtitle {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #ff3338;
  color: white;
  text-align: center;
  margin: 15px;
  width: 281px;
  position: relative;
  right: 20px; }

.navlink {
  padding-left: 8px;
  padding-right: 8px; }

.navlinkleft {
  padding-left: 8px;
  padding-right: 8px; }

#notice {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px; }

.notice, .alert {
  position: absolute;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 20px 20px;
  width: 600px;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
  color: white;
  right: 350px;
  bottom: 670px; }

.notice {
  background-color: #00c55f; }

.share_text {
  float: left;
  margin: 0 0 0 10px;
  width: 600px; }

#profilelocs {
  float: right;
  position: relative;
  bottom: 310px; }

.register {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 10px;
  background: white; }

.signin {
  margin: 20px; }

.signup {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: white;
  border: 1px solid #297aa3;
  padding: 10px;
  margin: 20px 20px 0 20px; }

.spacer {
  margin: 10px 0;
  font-size: 16px;
  font-style: italic; }

ul#social-icons li {
  display: block;
  float: left; }

.unlocked {
  display: inline-block;
  position: relative;
  top: 20px; }

.vert {
  -moz-transform: rotate(270deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: 50% 50%; }

/* #Typography
================================================== */
em {
  font-style: italic; }

.btitle {
  color: #d17504; }

h1, h2, h3, h4, h5, h6 {
  color: #363636;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.blue {
  color: #3399cc;
  text-decoration: none; }

.display {
  font-family: 'Smythe', cursive; }

.foot {
  font-size: 0.75em;
  font-style: italic;
  color: #363636; }

.logo {
  position: relative;
  bottom: 40px; }

.job {
  font-size: 0.875em;
  font-style: italic;
  color: #777777; }

p {
  color: #363636;
  margin: 0 0 0px; }

p img {
  margin: 0; }

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777; }

small {
  font-size: 80%; }

strong {
  font-weight: bold;
  color: #333; }

.subheader {
  color: #777; }

.tabText {
  font-family: 'Smythe', cursive;
  color: white;
  font-size: 72px;
  position: relative;
  top: 15px; }

.tall {
  font-size: 100px;
  font-family: 'Smythe', cursive;
  margin-bottom: 25px; }

.title {
  font-style: italic; }

nav {
  padding: 10px;
  background: #fb9c26;
  border-top: 1px solid #db8418;
  border-bottom: 1px solid #246b8f;
  text-align: right;
  font-size: 48px;
  margin-bottom: 110px;
  height: 30px;
  color: #fff; }

nav a {
  color: white;
  text-decoration: none; }

nav a:hover, a:focus {
  color: #fdfd5c; }

/* #Links
================================================== */
a, a:visited {
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

p a, p a:visited {
  line-height: inherit; }

/* #List
================================================== */
ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

ul ul li, ul ol li
ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

ul.large li {
  line-height: 21px; }

li p {
  line-height: 21px; }

/* #Images
================================================== */
img {
  max-width: 100%;
  height: auto; }

.imgcenter {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: block;
  width: 900px;
  margin: auto auto auto auto; }

.pic {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: relative;
  top: 90px; }

/* #Buttons
================================================== */
a.button, #user_submit, #user_session_submit,
button {
  background: #3399cc;
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 4px 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a.button:hover,
button:hover {
  color: white;
  background: #3399cc;
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

a.button:active,
button:active {
  background: #2e8ab8;
  color: white;
  border: 1px solid #888;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa; }

.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

/* #Tabs (activate in app.js)
================================================== */
ul.tabs {
  display: block;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
  right: 20px;
  bottom: 50px; }

ul.tabs li {
  font-size: 48px;
  display: block;
  width: auto;
  height: 80px;
  padding: 0;
  float: left;
  margin-bottom: 10px; }

ul.tabs li a {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  display: block;
  text-decoration: none;
  width: auto;
  height: 90px;
  width: 300px;
  padding: 0px 20px;
  line-height: 30px;
  margin: 0;
  font-size: 13px; }

ul.tabs li a.active {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -moz-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  height: 90px;
  position: relative;
  margin: 0 -1px 0 0;
  color: #111; }

ul.tabs-content {
  margin: 0;
  display: block; }

ul.tabs-content > li {
  display: none; }

ul.tabs-content > li.active {
  display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

ul.tabs:after {
  clear: both; }

ul.tabs {
  zoom: 1; }

/* #Forms
================================================== */
form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 200px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

textarea {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 565px;
  height: 295px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

textarea {
  min-height: 60px; }

label {
  display: block;
  font-weight: bold;
  font-size: 13px; }

select {
  width: 220px; }

input[type="checkbox"] {
  display: inline; }

label span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important; }

.add-bottom {
  margin-bottom: 20px !important; }
